<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <form action="paper" method="post" enctype="multipart/form-data">
        <label>Upload and parse PDF: <input type="file" name="pdf" /></label>
        <input type="submit" value="Send" />
      </form>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          {{#each papers}}
            <tr>
              <td>{{this.id}}</td>
              <td><a href="/paper/{{this.id}}">{{this.title}}</a></td>
              <td>{{localeTime this.createdAt}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </main>
  </body>
</html>