<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{paper.title}}</title>
  </head>
  <body>
    <main>
      <h1>{{paper.title}}</h1>
      <p><b>Created at:</b> {{localeTime paper.createdAt}}</p>
      <p>
        {{paper.text}}
      </p>
    </main>
  </body>
</html>